.body{
	font-family:MyriadPro-Regular;
	margin:0;
	padding:0;
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
	background-color: #df574b !important;
	border-color:#df574b !important;
}

header{
	background:#ffffff;
	/* width:1280px; */
	height:60px;
}

.main-container{
	width: 100%;
	margin: 0px auto;
	background-color: #f5f5f7;
}


/*header*/


.nav{
  height: 60px;
  width: 100%;
  background-color: #ffffff;

}

.nav-header {
  float: left;
}

.nav-header h1 a:hover{
	text-decoration: none;
	color: #df574b;
}
.nav-title {
  
  color: #fff;
  padding: 10px 10px 10px 60px;
  font-family:JCHEadA;
  font-size:28px;
  color:#df574b;
  text-align:left;
}
.nav-btn {
  display: none;
  float: right;
  margin-right: 40px;
  padding:17px 20px 18px 20px;
}

.nav-btn label{
	margin-bottom: 0px;
}
.menu_icon{
	width: 25px;
}

.nav-links {
  float: right;
  margin-right: 20px;
}

.nav-links a {
  display: inline-block;
  padding: 22px 30px 14px 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-family:MyriadPro-Regular;
  font-size: 16px;
  color:#565150;
  text-align:left;
  border-left: 1px solid #A69E9C;
}

.nav-links a:hover {
  color: #df574b;
}

#nav-check {
  display: none;
}

@media (max-width:800px) {
.nav-btn {
    display: inline-block;
  }

.nav-btn:hover{
	background-color: #df574b;

}

  .nav-links {
    margin-right: 0;
    display: block;
    width: 100%;
    background-color: #ffffff;
    height: 0px;
    transition: all 0.3s ease-in;
 /*   overflow-y: hidden;*/
    top: 60px;
    left: 0px;
  }
  .nav-links a {
    text-align: center;
    width: 100%;
    color: #A69E9C;
    font-size: 20px;
    border-top: 1px solid #A69E9C;
  }

  .nav-links a:hover{
  	color: #df574b;
  }
   #nav-check:not(:checked) + .nav-links {
    display: none;
  }
  #nav-check:checked + .nav-links {
  	display: inline-block;
  	position: absolute;
    height: 200px;
    overflow-y: auto;
    z-index: 100;
  }
}

/*banner*/
.large-banner-container{
	background-size: 100% 100%;
	z-index: -1;
}

/* search form*/
.large-banner-container form.search-form{
	position: absolute;
	background:rgba(255,255,255,0.95);
	width: 25%;
	height: 55%;
	top:15%;
	left:5%;
	padding:2%;
	border-radius: 5px;
	box-shadow:2px 2px 7px 0;
	z-index: 0;
}


.search-title{
	color:#df574b;
	font-size: 30px;
	width: 100%;
	text-align: center;
}

.search-form .form-group{
	margin-top:5%;
	margin-bottom:5%;
}


.btn-main-search{
	width:100%;
	margin-top:5%;
}

/* body contents*/
h3{
    text-align: center;
    font-family:MyriadPro-Semibold;
    font-size:30px;
    color:#df574b;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h4{
	text-align: center;
	font-family:MyriadPro-Semibold;
    font-size:24px;
    color:#565150;
}

img.icon1{
	height: 24px;
	margin-right: 13px;
}

.search_result{
	margin: 36px 80px;
	overflow: hidden;
}

.col-lg-3{
	float: left;
	padding-left: 2%;
	padding-right: 2%;
	padding: 2%;
}

.event_postcard{
 	background: white;
    box-shadow:0 1px 0 0 rgba(0,0,0,0.30);
	border-radius:5px;
	height:240px;
    display: inline-block;
}

.postcard_body{
	height: 85% 
}

.postcard_image{
	height: 45%;
}

.search_result_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
	border-radius: 5px 5px 0 0;
}

.postcard_content{
	padding: 12px 9px;
	height: 40%;
	border-bottom: 1px solid #C1C1C1;
}

.event_title,.item-name{
	font-family:MyriadPro-Semibold;
    font-size:16px;
    line-height: 1.3;
    height: 70%;
    color:#565150;
}

p.item-address{
	font-family:MyriadPro-Regular;
    font-size:13px;
    line-height: 1.2;
    color:rgba(86,81,80,0.70);
}

.event_price{
	padding:9px;
 	font-size:16px;
    color:#565150;
    width: 80%;
    float: left;
}

.event_action{
	width: 20%;
	float: left;
	padding: 7px;
}

.load{
	text-align: center;
	margin: 40px 0 20px 0;
}
a.seemore{
	font-size:16px;
    color:#565150;
    text-decoration: underline;
}
/* footer*/
footer{
	background-color: #565150;
	overflow: hidden;
	padding: 40px 100px;
	font-family:MyriadPro-Semibold;
    font-size:16px;
    color:#ffffff;
}

.col-lg-6{
	float: left;   
}

/*nearby page*/
.page_title span{
	color: #565150;
	text-decoration: underline;
}

/* heart */

.fa-heart {
  position: relative;
  width: 100px;
  height: 100px;
  margin-right:2%;
  float: right;
  margin-top:-34%;
  background: url("../img/heart_animate.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}

/* is-active */
.is-active{
	transition-duration: 1s;
    background-position: -2800px 0;
}



/*support center*/
#support_center{
	margin:0 auto;
}

#supportform{
	background:#ffffff;
	width: 90%;
	margin:0 auto;
	margin-bottom: 50px;
}

legend{
	background:#df574b;
	height:61px;
	font-family:MyriadPro-Semibold;
	font-size:24px;
	color:#ffffff;
	text-align:left;
	text-transform:uppercase;
	padding: 18px 38px 18px;
}

#supportform p,.form-group{
	font-family:MyriadPro-Regular;
	font-size:16px;
	color:#565150;
	text-align:left;
	padding: 0px 38px 0px;
	
}

label{
	font-family:MyriadPro-Regular;
	font-size:16px;
	color:#df574b;
	text-align:left;
	text-transform:capitalize;
	width: 80%;
}

#supportform input{
	border:1px solid #979797;
	border-radius:5px;
	height:38px;
}

#questions{
	border:1px solid #979797;
	border-radius:5px;
	height:276px;
}

#supportform .submit_button{
	background:#df574b;
	border-radius:5px;
	width:200px;
	height:61px;
	font-family:MyriadPro-Semibold;
	font-size:24px;
	color:#ffffff;
	text-align:center;
	border-style: none;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 20px 38px 50px;
	text-transform: uppercase;
}

/*My Protfolio*/
#my_profile,#my_favorite{
	width:80%;
	margin:0 auto;
	margin-top:50px;
}

.my-col-1-3,
.my-col-2-3  {
  display: inline-block;

}

.my-col-1-3 { 
  width: 30%;
  text-transform: uppercase;
  
}

.my-col-2-3 {
  width: 66%;
  vertical-align: top;

}

h2{
	font-family:MyriadPro-Semibold;
	font-size:24px;
	color:#df574b;
	text-align:left;
	margin:10px;
}

#my_avatar_left{
	border-radius:5px;
	width:150px;
	height:150px;
	margin:10px;
	margin-bottom: 30px;
}

li{
	list-style-type: none;
}

.my_link{
	font-family:MyriadPro-Semibold;
	font-size:24px;
	color:#565150;
	text-align:left;
	display: block;
	margin:20px 10px;
}

.my_link:hover{
	font-family:MyriadPro-Semibold;
	font-size:24px;
	color:#df574b;
	text-align:left;
	display: block;
	margin:20px 10px;
}

#myform{
	background:#ffffff;
	width:780px;
	margin:0 auto;
	margin-bottom: 50px;
}

#myform p{
	font-family:MyriadPro-Regular;
	font-size:16px;
	color:#565150;
	line-height:30px;
	text-align:left;
	padding: 0px 38px 0px;
}

#myform input{
	border:1px solid #979797;
	border-radius:5px;
	width:568px;
	height:38px;
}

#my_avatar_right{
	border-radius:5px;
	width:75px;
	height:75px;
}

#myform button[type="submit"]{
	background:#df574b;
	border-radius:5px;
	width:120px;
	height:40px;
	font-family:MyriadPro-Semibold;
	font-size:20px;
	color:#ffffff;
	text-align:center;
	border-style: none;
	padding-top: 9px;
	padding-bottom: 11px;
	margin: 20px 38px 50px;
}

#myform input[name="avatar"]{
 border-radius:10px;
 font-family:MyriadPro-Regular;
 font-size:16px;
 color:#df574b;
 text-align:left;
 text-transform:capitalize;
 text-align:center;
 border-style:none;
 padding-left: 11px;
}

h3{
    text-align: center;
    font-family:MyriadPro-Semibold;
    font-size:30px;
    color:#df574b;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h4{
 text-align: center;
 font-family:MyriadPro-Semibold;
    font-size:24px;
    color:#565150;
}

.item{
	background-color: #ffffff;
}

.pagination-container{
	width:100%;
	text-align:center;
	margin-bottom:20px;
}

.pagination {
	display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #df574b;
    color: white;
}

.page{
	display: none;
}

.page-active{
	display: block;
}







